<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="APISoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sms.dip.vn/api.asmx" binding="basicHttpBinding" bindingConfiguration="APISoap" contract="SMSService.APISoap" name="APISoap"/>
        </client>
    </system.serviceModel>
</configuration>
